<div class="col-sm-4 port-item margin-b-md">
  <div class="work-desc">
      <h3><%= medicine.nombre.upcase %></h3>
      <span>Cantidad: <%= medicine.cantidad.strip.capitalize %></span><br>
      <span>Laboratorio: <%= medicine.laboratorio %></span><br>
      <span>Uso: <%= medicine.detalle %></span>
      <hr>
      <% if medicine.abavilities.count == 0 %>
        No se encuentra en nuestra base de datos
      <% else %>
        <% medicine.pharmacies.each do |pharmacy| %>
          <% if pharmacy.popular %>
            <% petition = current_user.petitions.where(medicine_id: medicine.id) %>
            <% if petition.count == 0 %>
              <%= link_to "Comprar en farmacia popular "+ number_to_currency(pharmacy.abavilities.where(medicine_id: medicine.id).first.price, :unit => "$"), create_petition_path(medicine.id, pharmacy.id), class: "btn btn-primary"  %>
            <% else %>
              <% if petition.first.status %>
                Petición aceptada
              <% else %>
                Petición en progreso
              <% end %>
            <% end %>
          <% else %>
            <%= link_to "#{pharmacy.nombre} " + number_to_currency(pharmacy.abavilities.where(medicine_id: medicine.id).first.price, :unit => "$"), show_map_path(pharmacy.id), class: "btn btn-primary", "data-toggle": "tooltip", title: "Ver mapa con indicaciones" %>
          <% end %>
        <%end%>
      <% end %>
  </div>
</div>
