<div class="container">
  <div class="row">
    <h3 class="text-center">Registro de farmacia</h3>
    <br>
    <div class="col-md-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name) , class: "form-main") do |f| %>
        <%= devise_error_messages! %>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :email, "Correo electronico" %><br />
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :nombre, "Nombre" %>
              <%= f.text_field :nombre, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :password, "Contraseña" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres mínimos)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :password_confirmation,"Confirmar contraseña" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <%= f.label :polular, "¿Es famacia popular?", class: "" %>
            <br>
            <%= f.check_box :popular, class: "form-control" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div id="map" style="height:300px;">

            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12 text-center">
            <%= f.submit "Registrar", class: "btn btn-custom btn-primary" %>
          </div>
        </div>
        <%= f.hidden_field :lat, id: "latitude" %>
        <%= f.hidden_field :lng, id: "longitude" %>
        <%= f.hidden_field :ubicacion, id: "ubicacion"  %>
      <% end %>
      <br>
      <div class="text-center">
        <%= render "pharmacies/shared/links" %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#map').locationpicker({
    location: {latitude: -36.833333, longitude: -73.116667},
    radius:0,
    inputBinding: {
      latitudeInput: $("#latitude"),
      longitudeInput: $("#longitude"),
      locationNameInput: $("#ubicacion")
    }
  });
</script>
