<div class="container">
  <div class="row panel panel-default margin-t-xl">
    <h2 class="text-center">Ingresar</h2>
    <br>
    <div class="col-md-12">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-main") do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
        <br>
        <div class="form-group">
          <%= f.label :password, "Contraseña" ,class: "text-center" %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
        <br>
        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Recordar" %>
          </div>
        <% end -%>
        <br>
        <div class="col-md-12 text-center">
          <%= f.submit "Ingresar", class: "btn btn-custom btn-primary" %>
        </div>
      <% end %>
      <br><br>
      <div class="text-center">
        <%= render "users/shared/links" %>
      </div>
    </div>

  </div>
</div>
